:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: ;
  --hover: #2196F3;
}

body {
  background-color:#FFFFFF ;
  color: var(--primary-text-color);
}
/* header */
.logo-1 {
  color: ar(--hover);
}
.logo-2 {
  color:#000000;
}
.logo-1 :hover {
  color: var(--hover);
}

li {
  list-style: none;
}


.ul-nav {
  color: var(--title-text-color);
}

.ul-nav :hover, 
.ul-nav :focus{
  color: var(--hover);
}

.address-header {
  color: var(--primary-text-color);
}

.adress-header :hover,
.adress-header :focus{
  color: var(--hover);
}
/* hero */
.button-hero :hover,
.button-hero :focus {
  color: var(--hover);
}
/* main */
.title-section {
  color: var(--title-text-color);
}
h3 {
  color: var(--title-text-color);
}


.button :hover,
.button :focus {
  color: var(--hover);
}



/* footer */



.adress :hover,
.adress :focus {
  color: var(--hover);
}